body{
    color: white;
    background: black;
}
header{
    border: solid 2px rgb(0, 51, 255);
    padding: 20px;
    font-size: 32px;
    color: white
}

section{
    background: white;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
}